In [2]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        create_db_query = "CREATE DATABASE user_database"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
1007 (HY000): Can't create database 'user_database'; database exists

In [4]:
create_users_table_query ="""
CREATE TABLE users (
       id INT AUTO_INCREMENT PRIMARY KEY,
       username VARCHAR(64),
       contact  INT,
       password VARCHAR (8),
       confirm_password VARCHAR (8)
)
"""

In [5]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
        
        with connection.cursor() as cursor:
                        cursor.execute(create_users_table_query)
                        connection.commit()
except Error as e:
    print(e)

Enter username: root
Enter password: ········

In [6]:
show_table_query = "DESCRIBE users"

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(show_table_query)
                        result = cursor.fetchall()
                        for row in result:
                            print (row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('username', b'varchar(64)', 'YES', '', None, '')
('contact', b'int', 'YES', '', None, '')
('password', b'varchar(8)', 'YES', '', None, '')
('confirm_password', b'varchar(8)', 'YES', '', None, '')

In [7]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        show_db_query = "SHOW DATABASES"
        with connection.cursor() as cursor:
            cursor.execute(show_db_query)
            for db in cursor:
                print (db)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('information_schema',)
('mysql',)
('online_movie_rating',)
('performance_schema',)
('school',)
('sys',)
('user_database',)

In [8]:
SELECT user, host FROM mysql.user WHERE user = 'root';

SyntaxError: invalid syntax (<ipython-input-8-15ae70fa3f3b>, line 1)

In [11]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        show_db_query = "SHOW DATABASES"
        with connection.cursor() as cursor:
            cursor.execute(SELECT * FROM mysql.user WHERE user = 'root';)
            for db in cursor:
                print (db)
except Error as e:
    print(e)

SyntaxError: invalid syntax (<ipython-input-11-b310c727882c>, line 9)

In [21]:
alter_userdb_query = """ALTER TABLE users MODIFY contact VARCHAR(10) NOT NULL;"""

In [22]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
        
        with connection.cursor() as cursor:
            cursor.execute(alter_userdb_query)
            
except Error as e:
    print(e)

Enter username: root
Enter password: ········

In [65]:
show_table_query = "DESCRIBE movies"

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'online_movie_rating'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(show_table_query)
                        result = cursor.fetchall()
                        for row in result:
                            print (row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('id', b'int', 'NO', 'PRI', None, 'auto_increment')
('title', b'varchar(100)', 'YES', '', None, '')
('release_year', b'year', 'YES', '', None, '')
('genre', b'varchar(100)', 'YES', '', None, '')
('collection_in_mil', b'int', 'YES', '', None, '')

In [2]:
select_users_table_query = """ SELECT * FROM users """

In [4]:
select_users_table_query = """ SELECT * FROM users """
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(select_users_table_query)
                        
                        result = cursor.fetchall()
                        #print (result)
                        for row in result:
                            print (row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('Aishu', '1234567890', 'imara12$', 'imara12$')
('Kannarao', '1234567897', 'myhome56', 'myhome56')
('NAjay', '1234567899', 'myhome78', 'myhome78')
('NSivaP', '7702954705', 'myhome02', 'myhome02')
('Suguna', '8008404519', 'myhome11', 'myhome11')
('Susmitha', '9704056271', 'myhome12', 'myhome12')

In [68]:
alter_userdb_query = """ALTER TABLE users CHANGE confirm_password confirm_password VARCHAR(8) NOT NULL """

In [70]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
        
        with connection.cursor() as cursor:
            cursor.execute(alter_userdb_query)
            
except Error as e:
    print(e)

Enter username: root
Enter password: ········

## Create Friends Table in user database

In [5]:
## ignore
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        create_db_query = "CREATE DATABASE friends_database"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)

Enter username: root
Enter password: ········

In [10]:
create_friends_table_query = """
CREATE TABLE friends (
       phone_num1 VARCHAR(10) NOT NULL,
       phone_num2 VARCHAR(10) NOT NULL,
       PRIMARY KEY(phone_num1,phone_num2)
)
"""

In [11]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
        
        with connection.cursor() as cursor:
            cursor.execute(create_friends_table_query)
            
except Error as e:
    print(e)

Enter username: root
Enter password: ········

In [17]:
show_table_query = "DESCRIBE friends"

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(show_table_query)
                        result = cursor.fetchall()
                        for row in result:
                            print (row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('phone_num1', b'varchar(10)', 'NO', 'PRI', None, '')
('phone_num2', b'varchar(10)', 'NO', 'PRI', None, '')
('friend_name', b'varchar(20)', 'YES', '', None, '')

In [15]:
alter_friend_table_query = """ ALTER TABLE friends
ADD friend_name VARCHAR(20);

"""

In [16]:
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(alter_friend_table_query)
                        result = cursor.fetchall()
                        for row in result:
                            print (row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········

In [5]:
select_users_table_query = """ SELECT * FROM friends """
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(select_users_table_query)
                        
                        result = cursor.fetchall()
                        #print (result)
                        #for row in result:
                        print (result)
                        print (type(result))
except Error as e:
    print(e)

Enter username: root
Enter password: ········
[('9704056271', '1234567890', 'Aishu'), ('9704056271', '7702954705', 'NSivaP'), ('9704056271', '8008414519', 'Amma1')]
<class 'list'>

In [12]:
create_chats_table_query = """ CREATE TABLE chats 
(
ID         INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
P1         VARCHAR(10) NOT NULL,
sender     VARCHAR(20) NOT NULL,
P2         VARCHAR(10) NOT NULL,
receiver   VARCHAR(20) NOT NULL,
message    VARCHAR(100),
dt         DATETIME,
FOREIGN KEY(P1) REFERENCES users(contact),
FOREIGN KEY(P2) REFERENCES users(contact)
)
"""

In [13]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
        
        with connection.cursor() as cursor:
            cursor.execute(create_chats_table_query)
except Error as e:
    print(e)

Enter username: root
Enter password: ········

In [14]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
        
        with connection.cursor() as cursor:
            cursor.execute("DESCRIBE chats")
except Error as e:
    print(e)

Enter username: root
Enter password: ········
Unread result found

In [15]:
show_table_query = "DESCRIBE chats"

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(show_table_query)
                        result = cursor.fetchall()
                        for row in result:
                            print (row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('ID', b'int', 'NO', 'PRI', None, 'auto_increment')
('P1', b'varchar(10)', 'NO', 'MUL', None, '')
('sender', b'varchar(20)', 'NO', '', None, '')
('P2', b'varchar(10)', 'NO', 'MUL', None, '')
('receiver', b'varchar(20)', 'NO', '', None, '')
('message', b'varchar(100)', 'YES', '', None, '')
('dt', b'datetime', 'YES', '', None, '')

In [3]:
from getpass import getpass
from mysql.connector import connect, Error
select_chats_table_query = """ SELECT * FROM chats """
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(select_chats_table_query)
                        
                        result = cursor.fetchall()
                        #print (result)
                        #for row in result:
                        print (result)
                        print (type(result))
except Error as e:
    print(e)

Enter username: root
Enter password: ········
[]
<class 'list'>

In [7]:
alter_chats_table_query = """ ALTER TABLE chats MODIFY dt TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP"""

In [8]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(alter_chats_table_query)
                        
                        
except Error as e:
    print(e)

Enter username: root
Enter password: ········

In [9]:
show_table_query = "DESCRIBE chats"

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(show_table_query)
                        result = cursor.fetchall()
                        for row in result:
                            print (row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
('ID', b'int', 'NO', 'PRI', None, 'auto_increment')
('P1', b'varchar(10)', 'NO', 'MUL', None, '')
('sender', b'varchar(20)', 'NO', '', None, '')
('P2', b'varchar(10)', 'NO', 'MUL', None, '')
('receiver', b'varchar(20)', 'NO', '', None, '')
('message', b'varchar(100)', 'YES', '', None, '')
('dt', b'timestamp', 'NO', '', b'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED')

In [9]:
from getpass import getpass
from mysql.connector import connect, Error

show_table_query = """SELECT * FROM chats 
                                    WHERE P1 = '9704056271' AND P2 =  '7702954705' """

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(show_table_query)
                        result = cursor.fetchall()
                        for row in result:
                            print (row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
(3, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Hi Siva', datetime.datetime(2021, 9, 22, 12, 1, 35))
(11, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Are you in office?', datetime.datetime(2021, 9, 22, 17, 41, 6))
(17, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Hi', datetime.datetime(2021, 9, 28, 14, 5, 26))
(18, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Hi', datetime.datetime(2021, 9, 28, 16, 4, 43))
(19, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Hi', datetime.datetime(2021, 9, 28, 16, 10, 57))
(20, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Hi', datetime.datetime(2021, 9, 28, 17, 3, 56))
(21, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Hi', datetime.datetime(2021, 9, 28, 17, 21, 14))
(24, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Dinner', datetime.datetime(2021, 9, 28, 18, 58, 49))
(25, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Good night', datetime.datetime(2021, 9, 28, 21, 7, 59))
(26, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Good night', datetime.datetime(2021, 9, 29, 9, 58, 51))

In [ ]:
from getpass import getpass
from mysql.connector import connect, Error

select_users_table_query = """ DELETE FROM friends WHERE phone_num2 = '8008414519'"""
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(select_users_table_query)
                        connection.commit()
                        result = cursor.fetchall()
                        #print (result)
                        #for row in result:
                        print (result)
                        print (type(result))
except Error as e:
    print(e)

In [ ]:
show_table_query = "SELECT * FROM chats WHERE P1 = '9704056271' AND P2 =  '1234567890' "

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(show_table_query)
                        #connection.commit()
                        result = cursor.fetchall()
                        for row in result:
                            print (row)
except Error as e:
    print(e)

In [3]:
from getpass import getpass
from mysql.connector import connect, Error
select_users_table_query = """ SELECT * FROM friends"""
try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(select_users_table_query)
                        #connection.commit()
                        result = cursor.fetchall()
                        #print (result)
                        #for row in result:
                        print (result)
                        print (type(result))
except Error as e:
    print(e)

Enter username: root
Enter password: ········
[('9704056271', '1234567890', 'Aishu'), ('9704056271', '1234567899', 'NAjay'), ('9704056271', '7702954705', 'NSivaP')]
<class 'list'>

In [16]:
from getpass import getpass
from mysql.connector import connect, Error

show_table_query = """SELECT * FROM chats 
                                    WHERE P2 = '9704056271' AND P1 =  '7702954705' """

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(show_table_query)
                        result = cursor.fetchall()
                        for row in result:
                            print (row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
(104, '7702954705', 'NSivaP', '9704056271', 'HomeMinister', 'siva prasad', datetime.datetime(2021, 10, 11, 10, 42, 47))

In [17]:
from getpass import getpass
from mysql.connector import connect, Error

show_table_query = """DELETE FROM chats 
                                    WHERE P1 = '9704056271' AND P2 =  '7702954705'
                                    AND ID in (104)"""

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(show_table_query)
                        connection.commit()
                        result = cursor.fetchall()
                        for row in result:
                            print (row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········

In [12]:


from getpass import getpass
from mysql.connector import connect, Error

show_table_query = """SELECT * FROM chats WHERE id=(SELECT MAX(id) FROM chats); """

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database = 'user_database'
    ) as connection:
         with connection.cursor() as cursor:
                        cursor.execute(show_table_query)
                        result = cursor.fetchall()
                        print (result)
                        for row in result:
                            print (row)
except Error as e:
    print(e)

Enter username: root
Enter password: ········
[(40, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Sleep time', datetime.datetime(2021, 9, 30, 17, 7, 14))]
(40, '9704056271', 'Susmitha', '7702954705', 'NSivaP', 'Sleep time', datetime.datetime(2021, 9, 30, 17, 7, 14))